{% extends 'base.html' %}

{% block content %}


<section>
    <div class="bg-light">
        <div>
            <div class="wd">
                {% for i in use %}
                <form method='post' action="#" role="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label" id="">Name</label>
                        <input type="text" value="{{i.name}}" class="form-control" name="username" id="exampleInputName" aria-describedby="emailHelp">
                        <p id="nameerror"></p>
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label" id="">Email address</label>
                      <input type="email" value="{{i.value}}" class="form-control" name="useremail" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <p id="emailerror"></p>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" value="{{i.password}}" class="form-control" name="userpassword" id="exampleInputPassword1">
                      <p id="passworderror"></p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Post Dp</label>
                        <input type="file" class="form-control" value="{{i.dp}}" name="userdp" id="dp">
                        <p id="passworderror"></p>
                      </div>
                    <input type="submit" value="Save"  class="btn btn-primary">
                  </form>
                  {% endfor %}
            </div>
        </div>
    </div>
</section> 

{% endblock content %}


